<p id="notice"><%= notice %></p>
<div class="container">
<center><h1>Topics</h1></center>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <!-- <td><a href="/chapters"><%= topic.title %></a></td> -->
         <td><%= link_to "#{topic.try(:title)}", chapters_topic_path(topic.id) %></td>
        <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'New Topic', new_topic_path %>
