<%= form_for :correct_answer, :url => correct_answers_path, html: {id: "question_submit"}, class: "form-horizontal" do |c| %>
<div class="well bs-component">
   <div class="container-fluid">
      <% @que.each do |question| %>
      <tr>
         <h1>
            <td><%= question.title %></td>
         </h1>
         <br>
         <div class="form-group">
            <div class="checkbox">
               <label>
               <% if question.answer.try(:check1) == true %>
               <%= c.check_box :correct_answer,{}, true%><%= question.answer.try(:option1) %>
               <br>
               <%else%>
               <%= c.check_box :correct_answer,{}, false%><%= question.answer.try(:option1) %><br>
               <%end%>
               </label>
            </div>
         </div>
         <div class="form-group">
            <div class="checkbox">
               <label>
                  <% if question.answer.try(:check2) == true %>
                  <td><%= c.check_box :correct_answer1 ,{}, true%><%= question.answer.try(:option2) %></td>
                  <br>
                  <%else%>
                  <td><%= c.check_box :correct_answer1 ,{}, false%><%= question.answer.try(:option2) %></td>
                  <br>
                  <%end%>
               </label>
            </div>
         </div>
         <div class="form-group">
            <div class="checkbox">
               <label>
                  <% if question.answer.try(:check3) == true %>
                  <td><%= c.check_box :correct_answer2 ,{}, true%><%= question.answer.try(:option3) %></td>
                  <br>   
                  <%else%>   
                  <td><%= c.check_box :correct_answer2 ,{}, false%><%= question.answer.try(:option3) %></td>
                  <br>
                  <%end%>
               </label>
            </div>
         </div>
         <div class="form-group">
            <div class="checkbox">
               <label>
                  <% if question.answer.try(:check4) == true %>                          
                  <td><%= c.check_box :correct_answer3 ,{}, true%><%= question.answer.try(:option4) %></td>
                  <br>
                  <%else%>
                  <td><%= c.check_box :correct_answer3 ,{}, false%><%= question.answer.try(:option4) %></td>
                  <br>
                  <%end%>
               </label>
            </div>
         </div>
         <td><%= c.hidden_field :user_id, :value => current_user.id %></td>
         <%#byebug%>
         <%# if  will_paginate @que, id: "skip" %>
         <td><%= c.hidden_field :skip_question, id: "skiped_question"%></td>
         <%#else%>
         <td><%#= c.hidden_field :skip_question, :value => false%></td>
         <%#end%>
         <td><%= c.hidden_field :question_id, :value => question.try(:id) %></td>
         <td><%= c.hidden_field :answer_id, :value => question.answer.try(:id) %></td>
      </tr>
      <%end%>
   </div>
</div>
<center>
   <% if @que.count == params[:page].to_i  %>
   <%= c.submit "Submit", :name => "submit_form", :value =>"submit", type: "submit", class: "btn btn-lg btn-success btn"%>
   <%else%>
   <%= will_paginate @que,:page_links => false, :previous_label => '', :next_label => 'Skip', id: "skip", class: "btn btn-lg btn-success btn", :name => "skip", :value =>"true" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <%= will_paginate @que, :page_links => false, :previous_label => '', id: "next", class: "btn btn-lg btn-success btn"%>
   <%end%>
</center>
<% end %>
<script type="text/javascript">
   $('#next').on('click', function () {
     // console.log('hiiiiiiiiiiiiiiiiiii')
     $('#question_submit').submit();
   })
   $('#skip').on('click', function () {
     $('#skiped_question').val("true");
     $('#question_submit').submit();
   })
   
</script>
<style type="text/css">
   .container-fluid {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   }
   .well {
   margin-left: 200px;
   margin-right: 200px;
   margin-top: 143px;
   min-height: 20px;
   padding: 19px;
   margin-bottom: 20px;
   background-color: #D5DBDB;
   border: 1px solid transparent;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
   }
   .well {
   -webkit-box-shadow: none;
   box-shadow: none;
   }
</style>