  <% @que.each do |question| %>
  
      <tr>
        <td><%= question.title %></td><br>
        <%= form_for :correct_answer do |c| %>
         <td><%= c.check_box :correct_answer%></td><br>
        <td><%= question.answer.try(:option1) %></td><br>
        <td><%= question.answer.try(:option2) %></td><br>
        <td><%= question.answer.try(:option3) %></td><br>
        <td><%= question.answer.try(:option4) %></td><br>
       
        <%= c.submit :submit%>
       
      </tr><%end%>
   <%= will_paginate @que %>
    <% end %>