<%= form_with(model: exam, local: true) do |form| %>
<div class="well bs-component">
   <div class="container-fluid">
  <% if exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%#= form.label :Subject %>
 <%#= form.collection_select :subject_id, Subject.all,:id,:title, include_blank: true %>
</div>
<div class="form-group">
<div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :exam_title, class: 'form-control', style: ' width: 40%; '  %>
  </div>
</div>

  <div class="actions">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>

</div>
</div>

<% end %>
<style type="text/css">
   .container-fluid {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   }
   .well {
   margin-left: 400px;
   margin-right: 400px;
   margin-top: 143px;
   min-height: 20px;
   padding: 19px;
   margin-bottom: 20px;
   background-color: #D5DBDB;
   border: 1px solid transparent;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
   background-image: url('https://images.unsplash.com/photo-1534448177492-6d698f12a59a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
   }
   .well {
   -webkit-box-shadow: none;
   box-shadow: none;
   }
</style>
